In [1]:
import data_connector

data = data_connector.get_data()

data

Downloading: 100%|██████████| 11.2M/11.2M [00:06<00:00, 1.62MB/s]

,Unnamed: 0,gbifID,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,eventDate,stateNumeric,basisOfRecordNumeric,month
0,0,1146098913,64.871540,-147.684570,10.0,2014-07-15,2,1,7
1,1,1146107604,64.788800,-147.005250,10.0,2015-06-09,2,1,6
2,2,1146108805,64.881183,-147.776433,10.0,2015-06-24,2,1,6
3,3,1145917692,61.566030,-149.250490,1000.0,1970-06-03,2,1,6
4,4,1145917951,64.837710,-147.759380,25000.0,1950-07-22,2,1,7
...,...,...,...,...,...,...,...,...,...
185855,192922,2564268207,43.875710,-73.005710,NaN,2015-09-17,45,1,9
185856,192923,2564268339,43.873860,-72.858350,NaN,2015-09-16,45,1,9
185857,192924,2564268319,43.873860,-72.858350,NaN,2015-09-16,45,1,9
185858,192925,2564268202,43.998730,-72.876300,NaN,2015-09-16,45,1,9
185859,192926,2564268222,43.998730,-72.876300,NaN,2015-09-16,45,1,9